<h1> Stupid Coaching </h1>

<div class="box">
  <div class="grey-box">
  </div>

  <div class="you">
      <p><%= @search %></p>
      <p><em>-You</em></p>
  </div>
</div>

<div class="box">
  <div class="grey-box">
  </div>

  <div class="your_coach">
    <p><strong><%= @answer %></strong></p>
    <p><em>-Your coach</em></p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>
